{{!-- .row class is from bootstrap's grid system --}}

<div class="row">

    {{!-- our image loop --}}
    {{#each gallery.images}}

<div class="col-3 galleryItem">

 {{> gallery}}

    {{/each}}

</div>