<h1>Get ready to Go Mad!</h1>

<form action="">

{{#each data.fields}}



<div class="mb-3">
  <label for="{{this.name}}" class="form-label">{{this.value}}</label>
  <input type="{{this.type}}" name="{{this.name}}" class="form-control">

  

  </div>

{{/each}}

</form>
