<div class="hero" style="background-image: url('/images/gallery/gift-shop-intro.jpg');"></div>

<h1>Welcome to Little Luxuries</h1>

<style>
    div.col-4 {
    width: 50%;
    height: 50%; /* Maintain aspect ratio */
    max-height: 300px; /* Optional: Set a maximum height */
    object-fit: cover; /* Optional: Ensure the image covers the area */
    }

</style>

