{{>heading}}

{{!-- Add the packages partial  --}}

{{#if data.packages}}

{{>packages}}

{{/if}}

{{!-- Add the services partial  --}}

{{#if data.services}}

<h1 class="h1-featured">{{data.packages_intro2.title}}</h1>


{{>services}}



{{/if}}


{{!-- Add the gallery partial  --}}

{{#if data.gallery}}

{{>gallery}}

{{/if}}


{{!-- Add the products partial --}}

{{#if data.addcart}}

{{>addcart}}

{{/if}}
